.header{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    background-color:bisque;
}

.title{
    color:coral;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.nav a{
    text-decoration: none;
    padding: 10px;
    color:black;
    
}